<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blin00_0000_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,128}</string>
                <key>spriteSourceSize</key>
                <string>{127,128}</string>
                <key>textureRect</key>
                <string>{{128,627},{127,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0001_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,755},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0002_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,755},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0003_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,883},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0004_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,1011},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0005_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,1139},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0006_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{0,627},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0007_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{128,374},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0008_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,1139},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0009_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,1011},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0010_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{0,500},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0011_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{128,500},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0012_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{126,124},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0013_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,125}</string>
                <key>spriteSourceSize</key>
                <string>{126,125}</string>
                <key>textureRect</key>
                <string>{{0,124},{126,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0014_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,125}</string>
                <key>textureRect</key>
                <string>{{0,249},{128,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0015_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0016_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{128,249},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0017_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{0,374},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0018_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blin00_0019_blin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,883},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim02.png</string>
            <key>size</key>
            <string>{256,1267}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95c85d6b2cf6cc52e7b08575cca1e8c:dcb2b18071b6268d3659c4f6807fa403:a56f1ff31180fbf412efb63407cf2272$</string>
            <key>textureFileName</key>
            <string>anim02.png</string>
        </dict>
    </dict>
</plist>
