<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feiji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,113}</string>
                <key>spriteSourceSize</key>
                <string>{214,113}</string>
                <key>textureRect</key>
                <string>{{1214,682},{214,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feiji10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,115}</string>
                <key>spriteSourceSize</key>
                <string>{470,115}</string>
                <key>textureRect</key>
                <string>{{1040,118},{470,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,115}</string>
                <key>spriteSourceSize</key>
                <string>{463,115}</string>
                <key>textureRect</key>
                <string>{{1512,118},{463,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,115}</string>
                <key>spriteSourceSize</key>
                <string>{518,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{518,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,115}</string>
                <key>spriteSourceSize</key>
                <string>{488,115}</string>
                <key>textureRect</key>
                <string>{{1533,1},{488,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,117}</string>
                <key>spriteSourceSize</key>
                <string>{517,117}</string>
                <key>textureRect</key>
                <string>{{521,1},{517,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,115}</string>
                <key>spriteSourceSize</key>
                <string>{491,115}</string>
                <key>textureRect</key>
                <string>{{1,118},{491,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,115}</string>
                <key>spriteSourceSize</key>
                <string>{491,115}</string>
                <key>textureRect</key>
                <string>{{1040,1},{491,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,113}</string>
                <key>spriteSourceSize</key>
                <string>{436,113}</string>
                <key>textureRect</key>
                <string>{{1481,235},{436,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,113}</string>
                <key>spriteSourceSize</key>
                <string>{463,113}</string>
                <key>textureRect</key>
                <string>{{494,120},{463,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,113}</string>
                <key>spriteSourceSize</key>
                <string>{432,113}</string>
                <key>textureRect</key>
                <string>{{1,235},{432,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,113}</string>
                <key>spriteSourceSize</key>
                <string>{272,113}</string>
                <key>textureRect</key>
                <string>{{1891,749},{272,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feiji20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,113}</string>
                <key>spriteSourceSize</key>
                <string>{439,113}</string>
                <key>textureRect</key>
                <string>{{1040,235},{439,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,113}</string>
                <key>spriteSourceSize</key>
                <string>{407,113}</string>
                <key>textureRect</key>
                <string>{{417,437},{407,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{243,92}</string>
                <key>spriteSourceSize</key>
                <string>{245,94}</string>
                <key>textureRect</key>
                <string>{{858,235},{243,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feiji3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,115}</string>
                <key>spriteSourceSize</key>
                <string>{266,115}</string>
                <key>textureRect</key>
                <string>{{1651,350},{266,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,115}</string>
                <key>spriteSourceSize</key>
                <string>{324,115}</string>
                <key>textureRect</key>
                <string>{{709,873},{324,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feiji5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,115}</string>
                <key>spriteSourceSize</key>
                <string>{317,115}</string>
                <key>textureRect</key>
                <string>{{1919,430},{317,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feiji6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{371,115}</string>
                <key>spriteSourceSize</key>
                <string>{373,115}</string>
                <key>textureRect</key>
                <string>{{383,639},{371,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,115}</string>
                <key>spriteSourceSize</key>
                <string>{365,115}</string>
                <key>textureRect</key>
                <string>{{372,756},{365,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,115}</string>
                <key>spriteSourceSize</key>
                <string>{421,115}</string>
                <key>textureRect</key>
                <string>{{435,235},{421,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiji9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,115}</string>
                <key>spriteSourceSize</key>
                <string>{414,115}</string>
                <key>textureRect</key>
                <string>{{1,350},{414,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,41}</string>
                <key>spriteSourceSize</key>
                <string>{398,41}</string>
                <key>textureRect</key>
                <string>{{1,552},{398,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,216}</string>
                <key>spriteSourceSize</key>
                <string>{344,216}</string>
                <key>textureRect</key>
                <string>{{1,1156},{344,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,216}</string>
                <key>spriteSourceSize</key>
                <string>{340,216}</string>
                <key>textureRect</key>
                <string>{{1,1374},{340,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,216}</string>
                <key>spriteSourceSize</key>
                <string>{333,216}</string>
                <key>textureRect</key>
                <string>{{219,1374},{333,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,135}</string>
                <key>spriteSourceSize</key>
                <string>{328,135}</string>
                <key>textureRect</key>
                <string>{{416,1709},{328,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,137}</string>
                <key>spriteSourceSize</key>
                <string>{324,137}</string>
                <key>textureRect</key>
                <string>{{553,1697},{324,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,140}</string>
                <key>spriteSourceSize</key>
                <string>{250,140}</string>
                <key>textureRect</key>
                <string>{{1040,430},{250,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,79}</string>
                <key>spriteSourceSize</key>
                <string>{185,79}</string>
                <key>textureRect</key>
                <string>{{959,120},{185,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,68}</string>
                <key>textureRect</key>
                <string>{{894,1289},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{49,67}</string>
                <key>textureRect</key>
                <string>{{1006,1286},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,61}</string>
                <key>spriteSourceSize</key>
                <string>{380,61}</string>
                <key>textureRect</key>
                <string>{{1,595},{380,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,86}</string>
                <key>spriteSourceSize</key>
                <string>{374,86}</string>
                <key>textureRect</key>
                <string>{{952,307},{374,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,103}</string>
                <key>spriteSourceSize</key>
                <string>{369,103}</string>
                <key>textureRect</key>
                <string>{{1,658},{369,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,117}</string>
                <key>spriteSourceSize</key>
                <string>{362,117}</string>
                <key>textureRect</key>
                <string>{{826,541},{362,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liandui6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,131}</string>
                <key>spriteSourceSize</key>
                <string>{353,131}</string>
                <key>textureRect</key>
                <string>{{1,850},{353,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,139}</string>
                <key>spriteSourceSize</key>
                <string>{351,139}</string>
                <key>textureRect</key>
                <string>{{356,873},{351,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,171}</string>
                <key>spriteSourceSize</key>
                <string>{349,171}</string>
                <key>textureRect</key>
                <string>{{1,983},{349,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,203}</string>
                <key>spriteSourceSize</key>
                <string>{346,203}</string>
                <key>textureRect</key>
                <string>{{352,1101},{346,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{891,1199},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,85}</string>
                <key>spriteSourceSize</key>
                <string>{293,85}</string>
                <key>textureRect</key>
                <string>{{938,1199},{293,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,85}</string>
                <key>spriteSourceSize</key>
                <string>{311,85}</string>
                <key>textureRect</key>
                <string>{{743,1369},{311,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,85}</string>
                <key>spriteSourceSize</key>
                <string>{331,85}</string>
                <key>textureRect</key>
                <string>{{1,1716},{331,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,85}</string>
                <key>spriteSourceSize</key>
                <string>{349,85}</string>
                <key>textureRect</key>
                <string>{{352,1014},{349,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,85}</string>
                <key>spriteSourceSize</key>
                <string>{365,85}</string>
                <key>textureRect</key>
                <string>{{1,763},{365,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,85}</string>
                <key>spriteSourceSize</key>
                <string>{382,85}</string>
                <key>textureRect</key>
                <string>{{401,552},{382,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,83}</string>
                <key>spriteSourceSize</key>
                <string>{401,83}</string>
                <key>textureRect</key>
                <string>{{1,467},{401,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,83}</string>
                <key>spriteSourceSize</key>
                <string>{409,83}</string>
                <key>textureRect</key>
                <string>{{417,352},{409,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,74}</string>
                <key>spriteSourceSize</key>
                <string>{306,74}</string>
                <key>textureRect</key>
                <string>{{1040,350},{306,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,74}</string>
                <key>spriteSourceSize</key>
                <string>{301,74}</string>
                <key>textureRect</key>
                <string>{{1348,350},{301,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,59}</string>
                <key>spriteSourceSize</key>
                <string>{122,59}</string>
                <key>textureRect</key>
                <string>{{826,480},{122,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,72}</string>
                <key>spriteSourceSize</key>
                <string>{216,72}</string>
                <key>textureRect</key>
                <string>{{1032,683},{216,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,70}</string>
                <key>spriteSourceSize</key>
                <string>{214,70}</string>
                <key>textureRect</key>
                <string>{{1977,118},{214,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,68}</string>
                <key>spriteSourceSize</key>
                <string>{214,68}</string>
                <key>textureRect</key>
                <string>{{756,657},{214,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,63}</string>
                <key>spriteSourceSize</key>
                <string>{193,63}</string>
                <key>textureRect</key>
                <string>{{347,1306},{193,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,63}</string>
                <key>spriteSourceSize</key>
                <string>{193,63}</string>
                <key>textureRect</key>
                <string>{{542,1306},{193,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,58}</string>
                <key>textureRect</key>
                <string>{{1057,1286},{106,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,31}</string>
                <key>spriteSourceSize</key>
                <string>{103,31}</string>
                <key>textureRect</key>
                <string>{{785,552},{103,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,31}</string>
                <key>spriteSourceSize</key>
                <string>{56,31}</string>
                <key>textureRect</key>
                <string>{{1919,235},{56,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,76}</string>
                <key>textureRect</key>
                <string>{{737,1291},{155,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{700,1199},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,106}</string>
                <key>spriteSourceSize</key>
                <string>{221,106}</string>
                <key>textureRect</key>
                <string>{{1106,682},{221,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,85}</string>
                <key>spriteSourceSize</key>
                <string>{218,85}</string>
                <key>textureRect</key>
                <string>{{945,683},{218,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,85}</string>
                <key>spriteSourceSize</key>
                <string>{236,85}</string>
                <key>textureRect</key>
                <string>{{1561,426},{236,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,85}</string>
                <key>spriteSourceSize</key>
                <string>{252,85}</string>
                <key>textureRect</key>
                <string>{{1474,426},{252,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shunzi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,85}</string>
                <key>spriteSourceSize</key>
                <string>{274,85}</string>
                <key>textureRect</key>
                <string>{{1233,1199},{274,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,254}</string>
                <key>spriteSourceSize</key>
                <string>{184,254}</string>
                <key>textureRect</key>
                <string>{{1329,682},{184,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,324}</string>
                <key>spriteSourceSize</key>
                <string>{304,324}</string>
                <key>textureRect</key>
                <string>{{437,1371},{304,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,326}</string>
                <key>spriteSourceSize</key>
                <string>{329,326}</string>
                <key>textureRect</key>
                <string>{{88,1716},{329,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,279}</string>
                <key>spriteSourceSize</key>
                <string>{283,279}</string>
                <key>textureRect</key>
                <string>{{1340,1286},{283,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,270}</string>
                <key>spriteSourceSize</key>
                <string>{295,270}</string>
                <key>textureRect</key>
                <string>{{1662,1023},{295,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,265}</string>
                <key>spriteSourceSize</key>
                <string>{299,265}</string>
                <key>textureRect</key>
                <string>{{971,1675},{299,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,229}</string>
                <key>spriteSourceSize</key>
                <string>{268,229}</string>
                <key>textureRect</key>
                <string>{{1648,467},{268,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,126}</string>
                <key>spriteSourceSize</key>
                <string>{94,126}</string>
                <key>textureRect</key>
                <string>{{1919,334},{94,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,290}</string>
                <key>spriteSourceSize</key>
                <string>{254,290}</string>
                <key>textureRect</key>
                <string>{{1182,426},{254,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,304}</string>
                <key>spriteSourceSize</key>
                <string>{230,304}</string>
                <key>textureRect</key>
                <string>{{1585,698},{230,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,279}</string>
                <key>spriteSourceSize</key>
                <string>{223,279}</string>
                <key>textureRect</key>
                <string>{{1381,930},{223,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,292}</string>
                <key>spriteSourceSize</key>
                <string>{234,292}</string>
                <key>textureRect</key>
                <string>{{1145,905},{234,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,299}</string>
                <key>spriteSourceSize</key>
                <string>{241,299}</string>
                <key>textureRect</key>
                <string>{{1097,1346},{241,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,304}</string>
                <key>spriteSourceSize</key>
                <string>{265,304}</string>
                <key>textureRect</key>
                <string>{{830,1369},{265,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,317}</string>
                <key>spriteSourceSize</key>
                <string>{292,317}</string>
                <key>textureRect</key>
                <string>{{826,905},{292,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,313}</string>
                <key>spriteSourceSize</key>
                <string>{277,313}</string>
                <key>textureRect</key>
                <string>{{692,1697},{277,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim07.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d795303698dedc66bdca26d19d7ab7e:ca5f7e7456e9edd867d2a0612b8ec031:ee8fd56ed7235231b175163f4933ce6e$</string>
            <key>textureFileName</key>
            <string>anim07.png</string>
        </dict>
    </dict>
</plist>
