<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{146,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{219,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{292,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{365,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{438,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{0,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{73,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{146,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{219,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{73,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{292,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{365,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{438,164},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{0,246},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{73,246},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{146,246},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{219,246},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{292,246},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{365,246},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{146,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{219,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{292,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{365,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{438,0},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{73,82},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backBT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{77,111}</string>
                <key>textureRect</key>
                <string>{{0,328},{77,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backLR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{77,328},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,59}</string>
                <key>spriteSourceSize</key>
                <string>{40,59}</string>
                <key>textureRect</key>
                <string>{{129,328},{40,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropBT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,59}</string>
                <key>spriteSourceSize</key>
                <string>{39,59}</string>
                <key>textureRect</key>
                <string>{{169,328},{39,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropLR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{208,328},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,61}</string>
                <key>spriteSourceSize</key>
                <string>{27,61}</string>
                <key>textureRect</key>
                <string>{{258,328},{27,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{77,111}</string>
                <key>textureRect</key>
                <string>{{285,328},{77,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,61}</string>
                <key>spriteSourceSize</key>
                <string>{28,61}</string>
                <key>textureRect</key>
                <string>{{362,328},{28,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardsMJ2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5915581571687c3d4153827364cd1f17:8c7da11876f4fd2325ed9c10370ab4c3:a9b08f9a356b36681e41abf451f64026$</string>
            <key>textureFileName</key>
            <string>cardsMJ2.png</string>
        </dict>
    </dict>
</plist>
