<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgEditBoxHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,42}</string>
                <key>spriteSourceSize</key>
                <string>{346,42}</string>
                <key>textureRect</key>
                <string>{{323,164},{346,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgHeadCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{855,175},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,31}</string>
                <key>spriteSourceSize</key>
                <string>{455,31}</string>
                <key>textureRect</key>
                <string>{{488,1},{455,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,81}</string>
                <key>spriteSourceSize</key>
                <string>{223,81}</string>
                <key>textureRect</key>
                <string>{{940,295},{223,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCancelPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,81}</string>
                <key>spriteSourceSize</key>
                <string>{223,81}</string>
                <key>textureRect</key>
                <string>{{658,363},{223,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnChange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{275,101}</string>
                <key>spriteSourceSize</key>
                <string>{281,107}</string>
                <key>textureRect</key>
                <string>{{323,61},{275,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnConfirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,81}</string>
                <key>spriteSourceSize</key>
                <string>{223,81}</string>
                <key>textureRect</key>
                <string>{{376,412},{223,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnConfirmPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,81}</string>
                <key>spriteSourceSize</key>
                <string>{223,81}</string>
                <key>textureRect</key>
                <string>{{601,446},{223,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{376,563},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExitGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,100}</string>
                <key>textureRect</key>
                <string>{{600,61},{280,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExitGamePress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,100}</string>
                <key>textureRect</key>
                <string>{{376,208},{280,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExitPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{549,597},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHaveSound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{744,529},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHaveSoundPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{473,563},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNoSound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{473,639},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNosoundPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{646,597},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,100}</string>
                <key>textureRect</key>
                <string>{{658,261},{280,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRestartPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,100}</string>
                <key>textureRect</key>
                <string>{{376,310},{280,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,125}</string>
                <key>spriteSourceSize</key>
                <string>{218,127}</string>
                <key>textureRect</key>
                <string>{{105,61},{216,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgCommonHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{943,215},{78,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgHandle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{882,105},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,50}</string>
                <key>textureRect</key>
                <string>{{1,61},{133,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,50}</string>
                <key>textureRect</key>
                <string>{{53,61},{133,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,25}</string>
                <key>spriteSourceSize</key>
                <string>{448,25}</string>
                <key>textureRect</key>
                <string>{{488,34},{448,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{826,446},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgUnselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{883,363},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgWinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,212}</string>
                <key>spriteSourceSize</key>
                <string>{78,212}</string>
                <key>textureRect</key>
                <string>{{945,1},{78,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,399}</string>
                <key>spriteSourceSize</key>
                <string>{373,399}</string>
                <key>textureRect</key>
                <string>{{1,215},{373,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,58}</string>
                <key>spriteSourceSize</key>
                <string>{485,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{485,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paizhuozhezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,66}</string>
                <key>spriteSourceSize</key>
                <string>{182,66}</string>
                <key>textureRect</key>
                <string>{{671,163},{182,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paizhuozhezhi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,66}</string>
                <key>spriteSourceSize</key>
                <string>{182,66}</string>
                <key>textureRect</key>
                <string>{{826,520},{182,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{882,61},{42,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingxiaoshezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,66}</string>
                <key>spriteSourceSize</key>
                <string>{182,66}</string>
                <key>textureRect</key>
                <string>{{376,495},{182,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingxiaozhezhi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,66}</string>
                <key>spriteSourceSize</key>
                <string>{182,66}</string>
                <key>textureRect</key>
                <string>{{560,529},{182,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32830d2993ac961916858450819841a7:7fa85362eaec7079fae1c8a98673e670:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
