<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balance_imgWinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,103}</string>
                <key>spriteSourceSize</key>
                <string>{165,103}</string>
                <key>textureRect</key>
                <string>{{367,622},{165,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgBalanceItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,418}</string>
                <key>spriteSourceSize</key>
                <string>{335,418}</string>
                <key>textureRect</key>
                <string>{{1,1},{335,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,125}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{421,1},{90,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_pd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,175}</string>
                <key>spriteSourceSize</key>
                <string>{123,175}</string>
                <key>textureRect</key>
                <string>{{367,445},{123,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,176}</string>
                <key>spriteSourceSize</key>
                <string>{364,176}</string>
                <key>textureRect</key>
                <string>{{1,338},{364,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,176}</string>
                <key>spriteSourceSize</key>
                <string>{364,176}</string>
                <key>textureRect</key>
                <string>{{1,516},{364,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{421,166},{63,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary_numCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,36}</string>
                <key>textureRect</key>
                <string>{{421,128},{83,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary_sprCT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,105}</string>
                <key>spriteSourceSize</key>
                <string>{134,105}</string>
                <key>textureRect</key>
                <string>{{367,338},{134,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary_sprZN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{421,231},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game07.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69dbb79805fde485858586947c5c44b7:5580538fe5e8fff9b783a9574c3c0a2d:1a9f8cedcd5eabb0f2d4fdfff5f534b9$</string>
            <key>textureFileName</key>
            <string>game07.png</string>
        </dict>
    </dict>
</plist>
