<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgOutCardMj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,158}</string>
                <key>spriteSourceSize</key>
                <string>{116,158}</string>
                <key>textureRect</key>
                <string>{{643,242},{116,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnLookSummary0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{809,179},{214,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLookSummary1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{835,1},{180,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLookTable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{644,39},{180,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLookTable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{803,343},{214,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,122}</string>
                <key>textureRect</key>
                <string>{{643,360},{120,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{85,90}</string>
                <key>textureRect</key>
                <string>{{767,425},{85,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgKaiGang_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{832,36}</string>
                <key>spriteSourceSize</key>
                <string>{842,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{832,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgSelect_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{644,108},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgSummary_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,418}</string>
                <key>spriteSourceSize</key>
                <string>{293,418}</string>
                <key>textureRect</key>
                <string>{{1,482},{293,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgjixuyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{217,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{803,261},{217,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgxixuyouxi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{826,70},{180,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprFlag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{809,139},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,121}</string>
                <key>spriteSourceSize</key>
                <string>{320,121}</string>
                <key>textureRect</key>
                <string>{{1,902},{320,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,121}</string>
                <key>spriteSourceSize</key>
                <string>{274,121}</string>
                <key>textureRect</key>
                <string>{{323,411},{274,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,122}</string>
                <key>spriteSourceSize</key>
                <string>{640,122}</string>
                <key>textureRect</key>
                <string>{{1,163},{640,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,122}</string>
                <key>spriteSourceSize</key>
                <string>{640,122}</string>
                <key>textureRect</key>
                <string>{{1,287},{640,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,122}</string>
                <key>spriteSourceSize</key>
                <string>{641,122}</string>
                <key>textureRect</key>
                <string>{{1,39},{641,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{836,139},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_ting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{864,139},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,5}</string>
                <key>spriteSourceSize</key>
                <string>{176,5}</string>
                <key>textureRect</key>
                <string>{{1017,1},{176,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameMJ.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc1237b23ed962abc4840bad640224b:0afb1dac2954befd766a5f8bf59bf307:3eb1d51c3ad13c3bbdf20f4d50ab628c$</string>
            <key>textureFileName</key>
            <string>gameMJ.png</string>
        </dict>
    </dict>
</plist>
