<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animation_Tonghua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{633,1950},{82,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Animation_Tonghua10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{300,257}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1339,651},{300,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Animation_Tonghua11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{278,255}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1356,1108},{278,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Animation_Tonghua12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,15}</string>
                <key>spriteSize</key>
                <string>{268,231}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1767,1039},{268,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Animation_Tonghua13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{244,183}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1217,1793},{244,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Animation_Tonghua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{206,161}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{776,651},{206,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Animation_Tonghua3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{234,179}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1531,910},{234,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Animation_Tonghua4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{244,187}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1028,1793},{244,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Animation_Tonghua5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{260,203}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1717,1272},{260,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Animation_Tonghua6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{274,209}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1767,828},{274,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Animation_Tonghua7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{296,217}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{1137,1112},{296,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Animation_Tonghua8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{308,223}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{912,1125},{308,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Animation_Tonghua9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{298,247}</string>
                <key>spriteSourceSize</key>
                <string>{420,309}</string>
                <key>textureRect</key>
                <string>{{975,1493},{298,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_bgBalanceItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{434,634}</string>
                <key>spriteSourceSize</key>
                <string>{434,672}</string>
                <key>textureRect</key>
                <string>{{111,1514},{434,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_bgBalanceItem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{434,634}</string>
                <key>spriteSourceSize</key>
                <string>{434,672}</string>
                <key>textureRect</key>
                <string>{{476,828},{434,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_bgBalanceTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{825,372}</string>
                <key>spriteSourceSize</key>
                <string>{847,376}</string>
                <key>textureRect</key>
                <string>{{1644,1},{825,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_btnBackHall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{285,99}</string>
                <key>spriteSourceSize</key>
                <string>{287,99}</string>
                <key>textureRect</key>
                <string>{{1325,1410},{285,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_btnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,99}</string>
                <key>spriteSourceSize</key>
                <string>{287,99}</string>
                <key>textureRect</key>
                <string>{{1224,1410},{287,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_imgScoreBalance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{196,190}</string>
                <key>spriteSourceSize</key>
                <string>{230,218}</string>
                <key>textureRect</key>
                <string>{{1339,910},{196,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_sprBalanceA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{866,1873},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_sprBalanceB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{943,1873},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_sprWinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{82,69}</string>
                <key>textureRect</key>
                <string>{{562,1950},{82,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_sprZongjiesuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{133,45}</string>
                <key>spriteSourceSize</key>
                <string>{137,51}</string>
                <key>textureRect</key>
                <string>{{730,1464},{133,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgCountPutong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,24}</string>
                <key>spriteSourceSize</key>
                <string>{115,24}</string>
                <key>textureRect</key>
                <string>{{2018,88},{115,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgCountTonghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,22}</string>
                <key>spriteSourceSize</key>
                <string>{116,22}</string>
                <key>textureRect</key>
                <string>{{2018,205},{116,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgDefen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{204,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,124}</string>
                <key>textureRect</key>
                <string>{{1026,1002},{204,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgDeskScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{297,78}</string>
                <key>spriteSourceSize</key>
                <string>{313,80}</string>
                <key>textureRect</key>
                <string>{{729,1950},{297,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgReplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,108}</string>
                <key>spriteSourceSize</key>
                <string>{519,108}</string>
                <key>textureRect</key>
                <string>{{1,1514},{519,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgkuang12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,109}</string>
                <key>spriteSourceSize</key>
                <string>{369,115}</string>
                <key>textureRect</key>
                <string>{{747,1511},{365,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1232,1002},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1613,1091},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFunctionTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1613,1195},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFunctionTip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1613,1299},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1426,1388},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{309,115}</string>
                <key>spriteSourceSize</key>
                <string>{325,127}</string>
                <key>textureRect</key>
                <string>{{858,1511},{309,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPassPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{309,115}</string>
                <key>spriteSourceSize</key>
                <string>{325,127}</string>
                <key>textureRect</key>
                <string>{{1028,651},{309,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{309,115}</string>
                <key>spriteSourceSize</key>
                <string>{325,127}</string>
                <key>textureRect</key>
                <string>{{1028,768},{309,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPlayPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{309,115}</string>
                <key>spriteSourceSize</key>
                <string>{325,127}</string>
                <key>textureRect</key>
                <string>{{1028,885},{309,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1530,1403},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgRoomHost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{86,57}</string>
                <key>spriteSourceSize</key>
                <string>{224,67}</string>
                <key>textureRect</key>
                <string>{{111,1950},{86,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgTonghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{684,1950},{81,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgZhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{517,1950},{83,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{114,22}</string>
                <key>textureRect</key>
                <string>{{2018,323},{114,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_bgSummaryLose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{1631,322}</string>
                <key>spriteSourceSize</key>
                <string>{1641,324}</string>
                <key>textureRect</key>
                <string>{{1,327},{1631,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_bgSummaryWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1641,324}</string>
                <key>spriteSourceSize</key>
                <string>{1641,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{1641,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_btnContinu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{309,112}</string>
                <key>spriteSourceSize</key>
                <string>{309,116}</string>
                <key>textureRect</key>
                <string>{{912,814},{309,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{146,49}</string>
                <key>spriteSourceSize</key>
                <string>{148,49}</string>
                <key>textureRect</key>
                <string>{{858,1822},{146,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{146,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{912,1435},{146,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{163,61}</string>
                <key>spriteSourceSize</key>
                <string>{171,69}</string>
                <key>textureRect</key>
                <string>{{654,651},{163,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{169,57}</string>
                <key>textureRect</key>
                <string>{{717,651},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_imgFail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{684,227}</string>
                <key>spriteSourceSize</key>
                <string>{704,227}</string>
                <key>textureRect</key>
                <string>{{1,828},{684,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_imgScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{168,151}</string>
                <key>spriteSourceSize</key>
                <string>{200,175}</string>
                <key>textureRect</key>
                <string>{{501,651},{168,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_imgShangyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{171,85}</string>
                <key>spriteSourceSize</key>
                <string>{175,91}</string>
                <key>textureRect</key>
                <string>{{344,1950},{171,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_imgWinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{666,244}</string>
                <key>spriteSourceSize</key>
                <string>{666,248}</string>
                <key>textureRect</key>
                <string>{{230,828},{666,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_imgXiayou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{172,85}</string>
                <key>spriteSourceSize</key>
                <string>{180,91}</string>
                <key>textureRect</key>
                <string>{{170,1950},{172,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_imgZongfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{123,46}</string>
                <key>spriteSourceSize</key>
                <string>{133,46}</string>
                <key>textureRect</key>
                <string>{{476,1464},{123,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_sprSummaryA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{2018,48},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_sprSummaryB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{2018,68},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{601,1464},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,55}</string>
                <key>textureRect</key>
                <string>{{813,1878},{60,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprDawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,175}</string>
                <key>spriteSourceSize</key>
                <string>{123,175}</string>
                <key>textureRect</key>
                <string>{{1,651},{123,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprDawangPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,175}</string>
                <key>spriteSourceSize</key>
                <string>{123,175}</string>
                <key>textureRect</key>
                <string>{{126,651},{123,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprDel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{647,1464},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprGps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,31}</string>
                <key>spriteSourceSize</key>
                <string>{66,35}</string>
                <key>textureRect</key>
                <string>{{747,1878},{66,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprGps2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,31}</string>
                <key>spriteSourceSize</key>
                <string>{66,35}</string>
                <key>textureRect</key>
                <string>{{780,1878},{66,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprHeadA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{2018,48},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprHeadB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{2018,68},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{2018,1},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprStop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{693,1464},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprXiaowang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,175}</string>
                <key>spriteSourceSize</key>
                <string>{123,175}</string>
                <key>textureRect</key>
                <string>{{251,651},{123,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprXiaowangPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,175}</string>
                <key>spriteSourceSize</key>
                <string>{123,175}</string>
                <key>textureRect</key>
                <string>{{376,651},{123,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{114,22}</string>
                <key>textureRect</key>
                <string>{{2018,439},{114,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zongjifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{114,22}</string>
                <key>textureRect</key>
                <string>{{2018,555},{114,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ecab05a6dbda94177248c394631f0e3:7c93dd5540548c55693f7d81ec1fe1cc:73b9fc53f1a6ce33b0f302d9293cce68$</string>
            <key>textureFileName</key>
            <string>game12.png</string>
        </dict>
    </dict>
</plist>
