<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_bgBalanceItem14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,559}</string>
                <key>spriteSourceSize</key>
                <string>{269,559}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_sprMaxScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,24}</string>
                <key>spriteSourceSize</key>
                <string>{102,24}</string>
                <key>textureRect</key>
                <string>{{487,1},{102,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_sprTouCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,24}</string>
                <key>spriteSourceSize</key>
                <string>{102,24}</string>
                <key>textureRect</key>
                <string>{{485,105},{102,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_sprWinCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,24}</string>
                <key>spriteSourceSize</key>
                <string>{102,24}</string>
                <key>textureRect</key>
                <string>{{485,209},{102,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_sprWinner14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,58}</string>
                <key>spriteSourceSize</key>
                <string>{213,58}</string>
                <key>textureRect</key>
                <string>{{272,1},{213,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_sprXiCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,24}</string>
                <key>spriteSourceSize</key>
                <string>{102,24}</string>
                <key>textureRect</key>
                <string>{{485,313},{102,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnChat14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{150,562},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExit14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{272,399},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnGps14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{272,485},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnKanfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,56}</string>
                <key>textureRect</key>
                <string>{{272,61},{140,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{1,562},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,56}</string>
                <key>textureRect</key>
                <string>{{272,119},{140,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSet14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{88,562},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSort.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,56}</string>
                <key>textureRect</key>
                <string>{{272,177},{140,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnToux.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,56}</string>
                <key>textureRect</key>
                <string>{{272,235},{140,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pngHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{272,293},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprCatch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,29}</string>
                <key>spriteSourceSize</key>
                <string>{99,29}</string>
                <key>textureRect</key>
                <string>{{378,293},{99,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprDeskBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,69}</string>
                <key>spriteSourceSize</key>
                <string>{1280,69}</string>
                <key>textureRect</key>
                <string>{{414,61},{1280,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,29}</string>
                <key>spriteSourceSize</key>
                <string>{99,29}</string>
                <key>textureRect</key>
                <string>{{378,394},{99,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game14.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a059d969cf7f2acfc72bccb90fb40f0f:cbf30156f69d7c6d85cb4c7055bc8ca8:260c467880b2553a50062eb1eea66248$</string>
            <key>textureFileName</key>
            <string>game14.png</string>
        </dict>
    </dict>
</plist>
