<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg510k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,66}</string>
                <key>spriteSourceSize</key>
                <string>{273,66}</string>
                <key>textureRect</key>
                <string>{{1,108},{273,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgPlayerScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,91}</string>
                <key>spriteSourceSize</key>
                <string>{114,91}</string>
                <key>textureRect</key>
                <string>{{1,549},{114,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgRule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{163,100}</string>
                <key>textureRect</key>
                <string>{{273,417},{163,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{81,73}</string>
                <key>textureRect</key>
                <string>{{438,417},{81,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{214,90}</string>
                <key>textureRect</key>
                <string>{{273,325},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCutPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{214,90}</string>
                <key>textureRect</key>
                <string>{{1,266},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnGps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{159,556},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,114}</string>
                <key>spriteSourceSize</key>
                <string>{112,114}</string>
                <key>textureRect</key>
                <string>{{1,435},{112,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{288,1},{216,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPlayPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{288,82},{216,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{385,549},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{276,163},{216,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTipPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{273,244},{216,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diasnm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{243,176},{74,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>disiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{243,252},{74,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgCutHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{273,519},{90,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgHost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{438,500},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgPass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,88}</string>
                <key>spriteSourceSize</key>
                <string>{240,88}</string>
                <key>textureRect</key>
                <string>{{1,176},{240,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgPassLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,105}</string>
                <key>spriteSourceSize</key>
                <string>{285,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{285,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgShangyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,104}</string>
                <key>spriteSourceSize</key>
                <string>{55,104}</string>
                <key>textureRect</key>
                <string>{{117,435},{55,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgZhongyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,103}</string>
                <key>spriteSourceSize</key>
                <string>{54,103}</string>
                <key>textureRect</key>
                <string>{{217,328},{54,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprBgHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{187,433},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprFirst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,40}</string>
                <key>spriteSourceSize</key>
                <string>{97,40}</string>
                <key>textureRect</key>
                <string>{{174,514},{97,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprInvite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,75}</string>
                <key>textureRect</key>
                <string>{{1,358},{184,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprSecond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,40}</string>
                <key>spriteSourceSize</key>
                <string>{97,40}</string>
                <key>textureRect</key>
                <string>{{117,541},{97,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game00.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b606fd851aaebd268c09c65d07e84264:0dfd03605848e120f269ada615b9eb3f:3770c098e45a3c2d4e9846e56c97ed7a$</string>
            <key>textureFileName</key>
            <string>game00.png</string>
        </dict>
    </dict>
</plist>
