<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgAcChi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,205}</string>
                <key>spriteSourceSize</key>
                <string>{135,205}</string>
                <key>textureRect</key>
                <string>{{371,1},{135,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgChi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{24,66}</string>
                <key>textureRect</key>
                <string>{{286,352},{24,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgZpkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,55}</string>
                <key>spriteSourceSize</key>
                <string>{177,55}</string>
                <key>textureRect</key>
                <string>{{286,504},{177,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,208}</string>
                <key>spriteSourceSize</key>
                <string>{61,208}</string>
                <key>textureRect</key>
                <string>{{1,364},{61,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{343,557},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_whz_game_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,117}</string>
                <key>spriteSourceSize</key>
                <string>{368,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLookSummary0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{1,200},{214,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLookSummary1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{217,340},{180,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnLookTable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{354,375},{180,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnLookTable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{1,282},{214,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnQihu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,87}</string>
                <key>spriteSourceSize</key>
                <string>{65,87}</string>
                <key>textureRect</key>
                <string>{{217,273},{65,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{306,273},{77,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,68}</string>
                <key>spriteSourceSize</key>
                <string>{178,68}</string>
                <key>textureRect</key>
                <string>{{443,210},{178,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgDeck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{223,120},{141,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgDeckGround.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,87}</string>
                <key>textureRect</key>
                <string>{{354,208},{165,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgHeadFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{220,78}</string>
                <key>spriteSourceSize</key>
                <string>{250,98}</string>
                <key>textureRect</key>
                <string>{{1,120},{220,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgPartXian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,3}</string>
                <key>spriteSourceSize</key>
                <string>{207,3}</string>
                <key>textureRect</key>
                <string>{{508,1},{207,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_hupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,129}</string>
                <key>spriteSourceSize</key>
                <string>{108,129}</string>
                <key>textureRect</key>
                <string>{{223,163},{108,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{286,378},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qifhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{286,472},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sishou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{286,440},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameZP.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1589f2bb160ff2644197cfb63b8d8fd:c463ca7e16d6d88598f843533accfea5:dfc77be50e0a548871af250234a2bd3a$</string>
            <key>textureFileName</key>
            <string>gameZP.png</string>
        </dict>
    </dict>
</plist>
