<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgChi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,66}</string>
                <key>spriteSourceSize</key>
                <string>{24,66}</string>
                <key>textureRect</key>
                <string>{{485,809},{24,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgConfig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{163,100}</string>
                <key>textureRect</key>
                <string>{{403,223},{163,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,31}</string>
                <key>spriteSourceSize</key>
                <string>{98,31}</string>
                <key>textureRect</key>
                <string>{{1,991},{98,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,324}</string>
                <key>spriteSourceSize</key>
                <string>{131,324}</string>
                <key>textureRect</key>
                <string>{{1,400},{131,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,336}</string>
                <key>spriteSourceSize</key>
                <string>{400,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgTuopai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{93,90}</string>
                <key>textureRect</key>
                <string>{{141,594},{93,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{327,511},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBaoPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{236,533},{180,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{306,581},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCutPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{306,651},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNoBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{1,809},{180,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnNoBaoPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{71,809},{180,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{141,809},{180,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPassPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{211,809},{180,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{303,721},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPlayPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{303,791},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{403,388},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnResetPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{403,426},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,43}</string>
                <key>spriteSourceSize</key>
                <string>{147,43}</string>
                <key>textureRect</key>
                <string>{{49,655},{147,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{303,861},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTipPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{303,931},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,47}</string>
                <key>spriteSourceSize</key>
                <string>{93,47}</string>
                <key>textureRect</key>
                <string>{{354,339},{93,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{403,1},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTxPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{403,112},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnXuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,46}</string>
                <key>spriteSourceSize</key>
                <string>{94,46}</string>
                <key>textureRect</key>
                <string>{{1,686},{94,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgBanker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{1,594},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgBaoDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{327,434},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{403,464},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgJifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{488,581},{112,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgWinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,59}</string>
                <key>spriteSourceSize</key>
                <string>{233,59}</string>
                <key>textureRect</key>
                <string>{{1,533},{233,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgXifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{488,695},{112,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgZhuafen21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{281,715},{112,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgZongdefen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{281,829},{112,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgZongjifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{485,877},{112,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgZongxifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{269,1001},{112,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgZongzhuafen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{383,1001},{112,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lblZhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{327,400},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprDisnable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,59}</string>
                <key>spriteSourceSize</key>
                <string>{351,59}</string>
                <key>textureRect</key>
                <string>{{1,339},{351,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprTotalScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,30}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{101,991},{109,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary_imgBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{447,464},{55,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary_imgQG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{212,991},{55,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamePK.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597f2bbc90831fb40a82d9654384aedd:348c6c4461357dd8a182f37153486f59:c0797e9962c3038d32619ff73d5ce86c$</string>
            <key>textureFileName</key>
            <string>gamePK.png</string>
        </dict>
    </dict>
</plist>
