<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>414.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>410.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>411.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>412.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>413.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>314.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>316.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>303.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>416.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>304.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>305.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>306.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>307.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>308.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>309.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,244},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>310.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,384},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>311.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,524},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>312.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,664},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>313.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,804},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>403.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>214.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>216.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>203.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>204.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>205.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,104},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>206.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,208},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>207.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,208},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>404.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,208},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>208.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,208},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>209.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,208},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>210.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,244},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>211.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,312},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>212.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,312},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>213.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,312},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>114.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,312},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>405.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,312},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>116.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,384},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,524},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,416},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>105.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,664},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>106.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,804},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>107.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,520},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>108.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,416},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>109.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,520},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>110.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,416},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>111.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,416},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>406.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,416},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,520},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>113.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,520},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>65.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,524},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>66.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,624},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>407.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,660},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>408.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,624},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>409.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,624},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>porket_card.png</string>
			<key>realTextureFileName</key>
			<string>porket_card.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>