library/
temp/
local/
.DS_Store
ehthumbs.db
Thumbs.db
.gradle/
.idea/
.vscode/
settings/
assets/Game12/Prefab/Replay12.prefab
.externalNativeBuild/
build/autoupdate
*.apk
Podfile.lock
build/jsb-link/frameworks/runtime-src/proj.ios_mac/Pods/*
build/jsb-link/frameworks/runtime-src/proj.ios_mac/Podfile.lock
build/jsb-link/main.js
build/jsb-link/frameworks/runtime-src/proj.ios_mac/Podfile.lock
