<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,167}</string>
                <key>spriteSourceSize</key>
                <string>{22,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,167}</string>
                <key>spriteSourceSize</key>
                <string>{22,167}</string>
                <key>textureRect</key>
                <string>{{1,25},{22,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{138,49},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{114,341},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{138,85},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{57,477},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{138,121},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{161,361},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{83,475},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{109,475},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{135,475},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{78,363},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{104,363},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{130,361},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{186,341},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,125}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1,151},{90,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgCardMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,135}</string>
                <key>spriteSourceSize</key>
                <string>{100,135}</string>
                <key>textureRect</key>
                <string>{{1,49},{100,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,125}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{128,157},{90,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardBack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,125}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{1,243},{90,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,125}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{128,249},{90,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{170,1},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{166,72},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{1,335},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{1,406},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{78,335},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{150,341},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{1,477},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{222,341},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{29,477},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{161,397},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{185,367},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{221,377},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{185,393},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{221,403},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{185,419},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{221,429},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{136,445},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprLaizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{72,406},{67,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardsPK1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8578eb96543e8fee73a7c6a473acea50:61ead5edf566dd1d8a1e027ba99f4f6e:447fc98c42203113ace595a2c13a3830$</string>
            <key>textureFileName</key>
            <string>cardsPK1.png</string>
        </dict>
    </dict>
</plist>
