<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1646,298},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{147,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{246,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{345,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{444,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{543,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{642,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{741,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{840,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{939,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1038,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1137,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1236,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1335,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1434,290},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1592,1},{97,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1592,100},{97,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1486,129},{97,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1592,199},{97,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1533,298},{97,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,111}</string>
                <key>spriteSourceSize</key>
                <string>{97,111}</string>
                <key>textureRect</key>
                <string>{{1592,397},{97,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1486,47},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgOutCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,195}</string>
                <key>spriteSourceSize</key>
                <string>{82,195}</string>
                <key>textureRect</key>
                <string>{{1,290},{82,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,178}</string>
                <key>spriteSourceSize</key>
                <string>{60,178}</string>
                <key>textureRect</key>
                <string>{{85,290},{60,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{100,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{199,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{147,403},{97,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{298,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{397,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{436,403},{97,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{496,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{595,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{694,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{725,403},{97,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{793,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{892,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{991,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1014,403},{97,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1090,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1189,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1288,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1303,403},{97,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,287}</string>
                <key>spriteSourceSize</key>
                <string>{97,287}</string>
                <key>textureRect</key>
                <string>{{1387,1},{97,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{1533,1},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardsZP2.png</string>
            <key>size</key>
            <string>{1707,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59a6db8e241a788d1c7554da34754516:ba8811689c5185e69a6ebb53d7fb79c8:77ca74dae6c8564df6246bc9e3b72c89$</string>
            <key>textureFileName</key>
            <string>cardsZP2.png</string>
        </dict>
    </dict>
</plist>
