<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{29,0},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1686,348},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,73}</string>
                <key>spriteSourceSize</key>
                <string>{38,73}</string>
                <key>textureRect</key>
                <string>{{437,108},{38,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{900,648},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongnanxubei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,648},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangpao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,41}</string>
                <key>spriteSourceSize</key>
                <string>{77,41}</string>
                <key>textureRect</key>
                <string>{{168,0},{77,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,48}</string>
                <key>textureRect</key>
                <string>{{743,0},{83,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,110}</string>
                <key>textureRect</key>
                <string>{{228,206},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,121}</string>
                <key>spriteSourceSize</key>
                <string>{162,121}</string>
                <key>textureRect</key>
                <string>{{683,206},{162,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,49}</string>
                <key>spriteSourceSize</key>
                <string>{83,49}</string>
                <key>textureRect</key>
                <string>{{1934,0},{83,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,110}</string>
                <key>textureRect</key>
                <string>{{0,206},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,158}</string>
                <key>textureRect</key>
                <string>{{264,348},{180,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,49}</string>
                <key>spriteSourceSize</key>
                <string>{83,49}</string>
                <key>textureRect</key>
                <string>{{0,49},{83,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,50}</string>
                <key>spriteSourceSize</key>
                <string>{83,50}</string>
                <key>textureRect</key>
                <string>{{200,49},{83,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{457,206},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,167}</string>
                <key>spriteSourceSize</key>
                <string>{209,167}</string>
                <key>textureRect</key>
                <string>{{811,348},{209,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhuangRun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,153}</string>
                <key>spriteSourceSize</key>
                <string>{264,153}</string>
                <key>textureRect</key>
                <string>{{0,348},{264,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{1569,49},{39,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgFangpao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,63}</string>
                <key>spriteSourceSize</key>
                <string>{75,63}</string>
                <key>textureRect</key>
                <string>{{292,108},{75,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgHost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{321,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgPaoer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,59}</string>
                <key>spriteSourceSize</key>
                <string>{233,59}</string>
                <key>textureRect</key>
                <string>{{1608,49},{233,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgPassHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,82}</string>
                <key>spriteSourceSize</key>
                <string>{141,82}</string>
                <key>textureRect</key>
                <string>{{986,108},{141,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgPassHu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,82}</string>
                <key>spriteSourceSize</key>
                <string>{144,82}</string>
                <key>textureRect</key>
                <string>{{1127,108},{144,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{400,49},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{500,49},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgTing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{233,108},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgWinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,59}</string>
                <key>spriteSourceSize</key>
                <string>{233,59}</string>
                <key>textureRect</key>
                <string>{{0,108},{233,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,49}</string>
                <key>spriteSourceSize</key>
                <string>{83,49}</string>
                <key>textureRect</key>
                <string>{{1538,0},{83,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiegang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,87}</string>
                <key>textureRect</key>
                <string>{{1418,108},{147,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiepao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,41}</string>
                <key>spriteSourceSize</key>
                <string>{77,41}</string>
                <key>textureRect</key>
                <string>{{91,0},{77,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{116,49}</string>
                <key>textureRect</key>
                <string>{{990,0},{116,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,194}</string>
                <key>spriteSourceSize</key>
                <string>{222,194}</string>
                <key>textureRect</key>
                <string>{{1020,348},{222,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,194}</string>
                <key>spriteSourceSize</key>
                <string>{222,194}</string>
                <key>textureRect</key>
                <string>{{1464,348},{222,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,194}</string>
                <key>spriteSourceSize</key>
                <string>{222,194}</string>
                <key>textureRect</key>
                <string>{{1242,348},{222,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,48}</string>
                <key>spriteSourceSize</key>
                <string>{82,48}</string>
                <key>textureRect</key>
                <string>{{377,0},{82,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minggang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,87}</string>
                <key>textureRect</key>
                <string>{{1271,108},{147,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{826,0},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,648},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{342,206},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,158}</string>
                <key>spriteSourceSize</key>
                <string>{187,158}</string>
                <key>textureRect</key>
                <string>{{624,348},{187,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{908,0},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{116,49}</string>
                <key>textureRect</key>
                <string>{{1305,0},{116,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{459,0},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qgh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{116,49}</string>
                <key>textureRect</key>
                <string>{{1621,0},{116,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,49}</string>
                <key>spriteSourceSize</key>
                <string>{117,49}</string>
                <key>textureRect</key>
                <string>{{1106,0},{117,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shehzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{556,108},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shhq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,50}</string>
                <key>spriteSourceSize</key>
                <string>{117,50}</string>
                <key>textureRect</key>
                <string>{{283,49},{117,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,50}</string>
                <key>spriteSourceSize</key>
                <string>{117,50}</string>
                <key>textureRect</key>
                <string>{{83,49},{117,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprAngang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,87}</string>
                <key>textureRect</key>
                <string>{{1565,108},{147,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprBgHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{906,108},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{81,73}</string>
                <key>textureRect</key>
                <string>{{475,108},{81,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprGps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{820,108},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprGuangbiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,98}</string>
                <key>spriteSourceSize</key>
                <string>{116,98}</string>
                <key>textureRect</key>
                <string>{{1859,108},{116,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprInvite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,75}</string>
                <key>textureRect</key>
                <string>{{636,108},{184,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprMic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,114}</string>
                <key>spriteSourceSize</key>
                <string>{112,114}</string>
                <key>textureRect</key>
                <string>{{571,206},{112,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprOutLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1015,53}</string>
                <key>spriteSourceSize</key>
                <string>{1015,53}</string>
                <key>textureRect</key>
                <string>{{554,49},{1015,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprPosxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,648},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprWinBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1079,142}</string>
                <key>spriteSourceSize</key>
                <string>{1079,142}</string>
                <key>textureRect</key>
                <string>{{845,206},{1079,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprZimo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,87}</string>
                <key>textureRect</key>
                <string>{{1712,108},{147,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>status2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{367,108},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,49}</string>
                <key>textureRect</key>
                <string>{{1737,0},{81,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,110}</string>
                <key>textureRect</key>
                <string>{{114,206},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,158}</string>
                <key>textureRect</key>
                <string>{{444,348},{180,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,48}</string>
                <key>textureRect</key>
                <string>{{543,0},{83,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ytl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,48}</string>
                <key>spriteSourceSize</key>
                <string>{117,48}</string>
                <key>textureRect</key>
                <string>{{626,0},{117,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yzq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,49}</string>
                <key>spriteSourceSize</key>
                <string>{117,49}</string>
                <key>textureRect</key>
                <string>{{1421,0},{117,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{446,49},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,41}</string>
                <key>spriteSourceSize</key>
                <string>{76,41}</string>
                <key>textureRect</key>
                <string>{{245,0},{76,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,49}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{1223,0},{82,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zzh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,49}</string>
                <key>spriteSourceSize</key>
                <string>{116,49}</string>
                <key>textureRect</key>
                <string>{{1818,0},{116,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game02.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fd305de62daee9266ecc2325adfbeee:5b246d067f6e2ab84d721b2c0ed548c3:89de1473674e70b251f81a582855c82b$</string>
            <key>textureFileName</key>
            <string>game02.png</string>
        </dict>
    </dict>
</plist>
