<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,344},{82,52}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,98},{82,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,292},{88,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,62},{88,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,384},{86,64}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,78},{86,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,292},{86,90}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{86,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,398},{94,78}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,35},{94,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,402},{94,80}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,29},{94,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{102,72}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,29},{102,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,142},{114,74}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{114,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,106},{118,88}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{118,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,218},{108,60}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,26},{108,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{106,68}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{106,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,344},{82,56}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,97},{82,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,274},{106,68}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{106,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,202},{112,70}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{112,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{112,68}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,15},{112,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{116,62}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{116,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,132},{116,68}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{116,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,74},{120,66}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{120,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{124,66}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{124,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{126,70}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,60},{126,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{130,72}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,73},{130,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{136,56}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,104},{136,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,60},{70,124}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,45},{70,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,52}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,113},{142,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,402},{90,96}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{90,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{102,96}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,44},{102,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,196},{108,94}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,46},{108,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,438},{80,62}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,76},{80,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,280},{90,62}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{90,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,368},{86,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{86,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item7_anims_i6p-i6p.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57a910ec79b91f618e7956e6d4a207da:9830ac1af737f5a2b262b6cb4edeefca:6ae7eb5cd9cbc02cf25e7399fd81b678$</string>
            <key>textureFileName</key>
            <string>item7_anims_i6p-i6p.png</string>
        </dict>
    </dict>
</plist>
