<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,45},{200,44}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,79},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,83},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,87},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,83},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,79},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,45},{188,46}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,65},{188,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,59},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,56},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,36},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,32},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,45},{64,38}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{174,46}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,65},{174,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{162,42}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{162,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{148,42}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,69},{148,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{134,40}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,70},{134,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{122,40}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,71},{122,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,40}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,72},{116,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{66,42}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{66,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item6_anims_i6p-i6p.png</string>
            <key>size</key>
            <string>{703,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf7bb09dde00ffdb99882c102377eca:f68a7be923d276486d54d62c43c6f343:ff8187c57991059a14823f09e7298663$</string>
            <key>textureFileName</key>
            <string>item6_anims_i6p-i6p.png</string>
        </dict>
    </dict>
</plist>
