<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,122},{64,70}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,45},{64,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{114,162}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,32},{114,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,122},{102,94}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{102,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,120},{116,108}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{116,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{116,108}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{116,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{112,128}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{112,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,118},{118,148}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{118,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{118,154}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{118,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,162}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item5_anims_i6p-i6p.png</string>
            <key>size</key>
            <string>{596,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f561a698440bedaa8885a1cac04e7c8e:8b8e076fcbc88465f4c6246f3eb702dc:83eff1a2b90e1561b96400b27cb7f3cd$</string>
            <key>textureFileName</key>
            <string>item5_anims_i6p-i6p.png</string>
        </dict>
    </dict>
</plist>
